.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hsl(200, 76%, 49%);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Firstcomponent{
  background-color: blueviolet;
}
.Secondcomponent{
  background-color: #6868dc;
}
.Thirdcomponent{
  background-color: hsl(313, 100%, 75%);
}
.Fourthcomponent{
  background-color: hsl(25, 82%, 48%);
}
.Fifthcomponent{
 background-color: coral;
}
.Sixthcomponent{
  background-color: powderblue
}
.Eighthcomponent{
  background-color: bisque;
  text-decoration: solid;
  text-decoration: blueviolet;
}